body {
  background: #0069af;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.white {
  color: white;
}

video {
  width: 500px;
  height: 100%;
}
